.icon-uni2EE2:before {
	content: "\2ee2";
}
.icon-uni2F47:before {
	content: "\2f47";
}
.icon-uni2F49:before {
	content: "\2f49";
}
.icon-uni2FE0:before {
	content: "\2fe0";
}
.icon-uni2FBA:before {
	content: "\2fba";
}
