.icon-uni2EE2:before {
	content: "\2ee2";
}
.icon-uni2EE6:before {
	content: "\2ee6";
}
.icon-uni2EAB:before {
	content: "\2eab";
}
.icon-uni2F47:before {
	content: "\2f47";
}
.icon-uni2F49:before {
	content: "\2f49";
}
.icon-uni2FAB:before {
	content: "\2fab";
}
.icon-uni2FBA:before {
	content: "\2fba";
}
.icon-uni2FC2:before {
	content: "\2fc2";
}
.icon-uni2FC3:before {
	content: "\2fc3";
}
.icon-uni2F6C:before {
	content: "\2f6c";
}
.icon-uni2FD6:before {
	content: "\2fd6";
}
.icon-uni5750:before {
	content: "\5750";
}
