/*
			! ProtoChinese ! 
		 */
	@font-face {
		  font-family:'ProtoChinese'; 
		  src:url('ProtoChinese.eot?v=0.1'); /* IE9-IE12 Compat Modes */
		  src:url('ProtoChinese.eot?#iefix&v=0.1') format('embedded-opentype'), /* IE6-IE8 */ 
		    url('ProtoChinese.woff2?v=0.1') format('woff2'), /* Modern Browsers */
			url('ProtoChinese.woff?v=0.1') format('woff'), /* Modern Browsers */ 
			url('ProtoChinese.ttf?v=0.1') format('truetype'), /* Safari, Android, iOS */ 
			url('ProtoChinese.svg?v=0.1#ProtoChinese.eot') format('svg'), /* Legacy iOS  */
			url('ProtoChinese.svg') format('svg');
			font-weight: normal;
			font-style: normal;
	}
	body {
			font-family: sans-serif;
			color: #444;
			line-height: 1.5;
			font-size: 16px;
			padding: 20px;
	}
	* {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0;
			paddin: 0;
	}
	.glyph{
			display: inline-block;
			width: 120px;
			margin: 10px;
			text-align: center;
			vertical-align: top;
			background: #eee;
			border-radius: 10px;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	}
	.glyph-icon{
			padding: 10px;
			display: block;
			font-family: 'ProtoChinese';
			font-size: 64px;
			line-height: 1;
	}
	.glyph-icon:before{
				content: attr(data-icon);
	}
	.class-name{
				font-size: 12px;
	}
	.glyph > input{
				display: block;
				width: 100px;
				margin: 5px auto;
				text-align: center;
				font-size: 12px;
				cursor: text;
	}
	.glyph > input.icon-input{
				font-family: 'ProtoChinese';
				font-size: 16px;
				margin-bottom: 10px;
		}
		.sr-only{ position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0 }
		.sr-only-focusable:active,.sr-only-focusable:focus{ position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto }.icon-uni-2e85-Ren-Fellow:before {
	content: "\2e85";
}
.icon-uni-2F48-say-66F0-joek6:before {
	content: "\2f48";
}
.icon-uni-2F49:before {
	content: "\2f49";
}
.icon-uni-2F2D:before {
	content: "\2f2d";
}
.icon-uni-2EAB-EYE:before {
	content: "\2eab";
}
.icon-uni-2EE2-Mă-HORSE:before {
	content: "\2ee2";
}
.icon-uni-2EE5-FISH:before {
	content: "\2ee5";
}
.icon-uni-2EE6-BIRD:before {
	content: "\2ee6";
}
.icon-uni-2F47-Ri-Sun:before {
	content: "\2f47";
}
.icon-uni-2F11-knife:before {
	content: "\2f11";
}
.icon-uni-2F1D-kou-mouth:before {
	content: "\2f1d";
}
.icon-uni-2F1F-earth:before {
	content: "\2f1f";
}
.icon-uni-2F3C-heart:before {
	content: "\2f3c";
}
.icon-uni-2F3F-hand:before {
	content: "\2f3f";
}
.icon-uni-2F4A-mu-tree:before {
	content: "\2f4a";
}
.icon-uni-2F54-shui-water:before {
	content: "\2f54";
}
.icon-uni-2F55-huo-fire:before {
	content: "\2f55";
}
.icon-uni-2F5C-niuzi-ushi-cow:before {
	content: "\2f5c";
}
.icon-uni-2F5D-quan-dog:before {
	content: "\2f5d";
}
.icon-uni-2F5E-xuan-dark:before {
	content: "\2f5e";
}
.icon-uni-2F5F-jade:before {
	content: "\2f5f";
}
.icon-uni-2F65-tian-field:before {
	content: "\2f65";
}
.icon-uni-2F69-white:before {
	content: "\2f69";
}
.icon-uni-2F6A-pi-skin:before {
	content: "\2f6a";
}
.icon-uni-2F6B-MIN-DISH:before {
	content: "\2f6b";
}
.icon-uni-2F6C-EYE:before {
	content: "\2f6c";
}
.icon-uni-2F6D-MAO-SPEAR:before {
	content: "\2f6d";
}
.icon-uni-2F6E-SHIH-ARROW:before {
	content: "\2f6e";
}
.icon-uni-2F6F-SHIR-STONE:before {
	content: "\2f6f";
}
.icon-uni-2F71-RUO-Runk:before {
	content: "\2f70";
}
.icon-uni-2F72-HE-GRAIN:before {
	content: "\2f72";
}
.icon-uni-2F73-CAVE:before {
	content: "\2f73";
}
.icon-uni-2F74-LI-STAND:before {
	content: "\2f74";
}
.icon-uni-2F75-BAMBOO:before {
	content: "\2f75";
}
.icon-uni-2F76-RICE:before {
	content: "\2f76";
}
.icon-uni-2F77-MIH-SILK:before {
	content: "\2f77";
}
.icon-uni-2F78-JAR:before {
	content: "\2f78";
}
.icon-uni-2F79-NET:before {
	content: "\2f79";
}
.icon-uni-2F97-pig:before {
	content: "\2f97";
}
.icon-uni-2F7A-sheep-yang:before {
	content: "\2f7a";
}
.icon-uni-2F7F-ear:before {
	content: "\2f7f";
}
.icon-uni-2FA8-gate-men:before {
	content: "\2fa8";
}
.icon-uni-2FAB:before {
	content: "\2fab";
}
.icon-uni-2FBA:before {
	content: "\2fba";
}
.icon-uni-2FC2:before {
	content: "\2fc2";
}
.icon-uni-2FC3:before {
	content: "\2fc3";
}
.icon-uni-3197-middle-field:before {
	content: "\3197";
}
.icon-uni-5929-Tian-Heaven:before {
	content: "\319d";
}
